.Card {
    background-color: red;
    border: 3px solid red;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;

    display: flex;
    flex-direction: column;
    min-width: 300px;

}
.Card .Title{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}
.Card .Content{
    flex: 1;
    background-color: #fff;
    color: #000000;
    padding: 20px;
    justify-content: center;

}